alias cdev="cd ~/dev"
alias glog="git log --pretty=oneline"
alias gs="git status"
alias art="php artisan"
alias gp="git push"
alias gc="git commit"
alias ga="git add"
alias gr="git pull --rebase"
alias grc="git rebase --continue"
alias yrg="yarn generate"
alias yrd="yarn run dev"
alias yrp="yarn run production"
alias yrw="yarn run watch"
alias nrd="npm run dev"
alias nrw="npm run watch"
alias cda="composer dump-autoload"
alias cid="composer init-dev"
alias cip="composer init-prod"
alias vapor="php vendor/bin/vapor"
alias truffle="./node_modules/.bin/truffle"
alias cinj="cd ~/dev/injective"
alias cwto="cd ~/dev/wto"
alias grc="git reset --hard HEAD && git clean -f -d -x"
